<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="yarn : ${yarns}" class="checkbox">
        <input type="checkbox" name="yarnIds" th:value="${yarn.id}" th:id="${yarn.id}"/>
        <label th:for="${yarn.id}" th:text="${yarn.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Yarn" />

</form>

</body>
</html>