<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">

    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title th:text="${title}">Stitchr</title>

</head>
<body>

<div th:fragment="navigation">

    <div th:if="${user}">

        <nav class="user-nav">
            <a href="/logout">Log Out</a>
        </nav>
    </div>

    <div th:unless="${user}">

        <nav>
            <a href="/login">Log In</a>
            <a href="/register">Register</a>
        </nav>

    </div>

    <br/>

</div>

<nav th:fragment="navigation">
    <a href="/" class="btn btn-info" role="button">Home</a>
    <a href="/stash" class="btn btn-info" role="button">List</a>
    <a href="/stash/add" class="btn btn-info" role="button">Add to Stash</a>
    <a href="/stash/remove" class="btn btn-info" role="button">Remove from Stash</a>
    <a href="/upload" class="btn btn-info" role="button">Upload</a>
</nav>

</body>
</html>