<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Stitchr</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/" class="btn btn-info" role="button">Home</a>
    <a href="/stash" class="btn btn-info" role="button">List</a>
    <a href="/stash/add" class="btn btn-info" role="button">Add to Stash</a>
    <a href="/stash/remove" class="btn btn-info" role="button">Remove from Stash</a>
    <a href="/upload" class="btn btn-info" role="button">Upload</a>
    <a href="/register/add" class="btn btn-info" role="button">Register</a>
</nav>

</body>
</html>